<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
<!--    <script>-->

<!--           $(".example").click(function(){-->
<!--           event.preventDefault();-->
<!--           let form = $("#form_name")[0]-->
<!--           let data = new FormData(form); })-->
<!--          $(".example").click(function(){-->
<!--event.preventDefault();-->
<!--let form = $("#form_name")[0]-->
<!--let data = new FormData(form);-->
<!--let start_date = $(".start_date").val()-->
<!--let end_date = $(".end_date").val()-->
<!--data.append('start_date',start_date)-->
<!--data.append('end_date',end_date)-->
<!--$.ajax({-->
<!--type: 'POST',-->
<!--enctype: 'multipart/form-data',-->
<!--processData: false,-->
<!--contentType: false,-->
<!--cache: false,-->
<!--url: '/function_name/',-->
<!--data: data,-->
<!--  async:false,-->
<!--success: function (returned, status, xhr) {-->
<!--let result = returned['success'];-->

<!--if (result) {-->
<!--$('#lable_name').text('')-->
<!--$('#lable_name').append("sucess").delay(10000).fadeOut(10000);-->
<!--}-->
<!--else {-->
<!--$('#lable_name').text('')-->
<!--$('#lable_name').append("failue").delay(10000).fadeOut(10000);-->
<!--}-->
<!--  }-->
<!--});-->
<!--})-->
<!--</script>-->
</head>
<body>
<h1>hello world</h1>
<button class="example">hello</button>
</body>
</html>